{% load static %}

<div class="table-responsive">
  <table class="instruments-list table rounded table-striped border gy-7 gs-7">
    <thead>
      <tr>
        <th>#</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Exchange</th>
        <th>Instrument Type</th>
        <th>Segment</th>
        <th>Expiry</th>
        <th>Lot Size</th>
        <th>Tick Size</th>
        <th>Strike</th>
        <th>Exchange Token</th>
        <th>Instrument Token</th>
      </tr>
    </thead>

    <tbody>
      {% for instrument in instruments %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a href={% url "instrument-symbol" instrument.symbol %}>
              {{ instrument.trading_symbol }}
            </a>
          </td>
          <td>{{ instrument.name }}</td>
          <td>{{ instrument.exchange }}</td>
          <td>{{ instrument.instrument_type }}</td>
          <td>{{ instrument.segment }}</td>
          <td>{{ instrument.expiry }}</td>
          <td>{{ instrument.lot_size }}</td>
          <td>{{ instrument.tick_size }}</td>
          <td>{{ instrument.strike }}</td>
          <td>{{ instrument.exchange_token }}</td>
          <td>{{ instrument.instrument_token }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.instruments-list').DataTable({
      "pageLength": 25,
    });
  });
</script>
