{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container">
    <h2>Details for {{ instrument.get_instrument_type_display }}: {{ instrument.trading_symbol }}</h2>

    <p>
      <p>Symbol: {{ instrument.trading_symbol }}</p>
      <p>Name: {{ instrument.name }}</p>
      <p>Exchange: {{ instrument.exchange }}</p>
      <p>Instrument Type: {{ instrument.instrument_type }}</p>
      <p>Segment:{{ instrument.segment }}</p>
      <p>Expiry:{{ instrument.expiry }}</p>
      <p>Lot Size: {{ instrument.lot_size }}</p>
      <p>Tick Size: {{ instrument.tick_size }}</p>
      <p>Strike: {{ instrument.strike }}</p>
      <p>Exchange Token: {{ instrument.exchange_token }}</p>
      <p>Instrument Token: {{ instrument.instrument_token }}</p>
    </p>

    {% if daily_data.count > 0 %}
      <div class="table-responsive">
        <p class="ohlc-data-count">Total <strong>{{ daily_data.count }}</strong> OHLC values</p>
        <table class="ohlc-data table rounded table-striped border gy-7 gs-7">
          <thead>
            <tr>
              <th>Date</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
            </tr>
          </thead>

          <tbody>
            {% for ohlc_row in daily_data.all %}
              <tr class="table-row ohlc-row">
                <td>{{ ohlc_row.date_in_tables }}</td>
                <td>{{ ohlc_row.open }}</td>
                <td>{{ ohlc_row.high }}</td>
                <td>{{ ohlc_row.low }}</td>
                <td>{{ ohlc_row.close }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.ohlc-data').DataTable({
        "pageLength": 25,
      });
    });
  </script>
{% endblock %}
