
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# PyCharm files
*.pyc

# Django Cache files
**/__pycache__/*

__pycache__/*

activate.sh
.env
